.form,
.greetings{
  display: none;
}

.showing{
  display: block;
}

#clock_color{
  color: white;
  font-size: 90px;
  margin: 0px;
}
#clock_color2{
  color: white;
  margin: 0px;
}

body{
  background-color: #2c3e50;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.bgImage{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  pointer-events : none;
  animation: fadeIn 5s linear;
    filter: blur(5px);
  -webkit-filter: blur(5px);
}

button{
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: white;

}

input{
  

border-right-style : none;
border-top-style : none;
border-left-style : none;
background-color:transparent;
border-bottom : solid white;
text-align: center;
color : white;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

hr{
  color : whitesmoke;
}



/*애니메이션*/

#a {
animation-name: a;
animation-duration: 2.2s;
animation-direction: alternate;
}
 
@keyframes a {
0% {transform: translateY(-5em);}
to {transform: translate(0);}

}

.js-title {
animation-name: b;
animation-duration: 1.7s;
animation-direction: alternate;
}
 
@keyframes b {
0% {transform: translateY(10em);}
to {transform: translate(0);}

}

#clock_color2 {
animation-name: c;
animation-duration: 1.7s;
animation-direction: alternate;
}
 
@keyframes c {
0% {transform: translateY(100em);}
to {transform: translate(0);}

}

.js-greetings {
animation-name: d;
animation-duration: 1.8s;
animation-direction: alternate;
}
 
@keyframes d {
0% {transform: translateY(100em);}
to {transform: translate(0);}

}

.js-weather
{
animation-name: d;
animation-duration: 1.8s;
animation-direction: alternate;
}
 
@keyframes d {
0% {transform: translateY(-10em);}
to {transform: translate(0);}

}

#il, #two {
animation-name: d;
animation-duration: 2.3s;
animation-direction: alternate;

}
 
@keyframes d {
0% {transform: translateY(15em);}
to {transform: translate(0);}

}

#three, #four {
animation-name: d;
animation-duration: 2.1s;
animation-direction: alternate;

}
 
@keyframes d {
0% {transform: translateY(15em);}
to {transform: translate(0);}

}
#send {
animation-name: d;
animation-duration: 2s;
animation-direction: alternate;

}

.mdc-icon-button {
animation-name: d;
animation-duration: 2.2s;
animation-direction: alternate;

}
 
@keyframes d {
0% {transform: translateY(15em);}
to {transform: translate(0);}

}

hr {
animation-name: d;
animation-duration: 2.5s;
animation-direction: alternate;
}
 
@keyframes d {
0% {transform: translateY(10em);}
to {transform: translate(0);}

}

ul {
animation-name: d;
animation-duration: 2.5s;
animation-direction: alternate;
}
 
@keyframes d {
0% {transform: translateY(10em);}
to {transform: translate(0);}

}

h5 {
animation-name: d;
animation-duration: 3s;
animation-direction: alternate;
}
 
@keyframes d {
0% {transform: translateY(100em);}
to {transform: translate(0);}

}

#a {
animation-name: a;
animation-duration: 2.2s;
animation-direction: alternate;
}
 
@keyframes a {
0% {transform: translateY(-5em);}
to {transform: translate(0);}

}

#g {
animation-name: g;
animation-duration: 3s;
animation-direction: alternate;
}
 
@keyframes g {
0% {transform: translateY(-100em);}
to {transform: translate(0);}

}